.container-column {
    display: flex;
    flex-direction: column;
    min-height: 60%;
}
.row{
  text-align: center;
}
.actions{
    background-color: black!important;
    margin-right: -2em;
}
::ng-deep .red-snackbar{
  background-color: rgb(182, 13, 13);
  color: white;
}
::ng-deep .green-snackbar{
  background-color: rgb(15, 141, 15);
}