<div>
    <footer class="footer-container">
        <div class="row1">
        <div class="col1">
            <h2> SITE & APPS</h2>
            <ul>
                <li><i class="fa fa-android fa-lg" ></i></li>
                <li><i class="fa fa-apple fa-lg" ></i></li>
                <li><i class="fa fa-windows fa-lg" ></i></li>
            </ul>
        </div>
        <div class="col2">
            <h2>Follow us on</h2>
            <ul>
                <li><i class="fa fa-facebook fa-lg" ></i></li>
                <li><i class="fa fa-instagram fa-lg" ></i></li>
                <li><i class="fa fa-youtube fa-lg" ></i></li>

            </ul>
        </div>
    </div>
    <div class="row2">
        © 2021 LiveScores.com
    </div>
    </footer>
</div>